table {
	width:100%;
}

.card {
	text-align:center;
	background-color: #b8c0e7;
	border-radius: 0px;
	margin: 1rem 1rem 1rem 1rem;
	padding-bottom: 1rem;
}

ul{
	list-style-type: none;
	margin: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding: 15px;
	overflow: hidden;
	background-color: #333;
	

	
}

li{
	float:left;
}

li a{
	display:block;
	color:white;
	text-align:center;
	
	padding-left:15px;
	padding-right:15px;
	text-decoration:none;

}


li a:hover {
	background-color: #111;
	
}

@keyframes pokemon-up {

	0%,
	100% {
	transform: translateY(0);
	}
	
	50% {
	transform: translateY(.4rem);
	}
}

.card:hover {
	background-color: #111;
	animation: pokemon-up .3s;
	cursor: pointer;
	
}

.fuego {
background-color: #f53a03;
}

.lucha {

}

.veneno{
background-color:#8f169b;


}

.agua {

}

.tierra {

}

.roca {

}

.psiquico {

}

.dragon {
background-color:#420087;

}

.volador {

}

.fantasma {

}

.planta {
background-color:#68fe95;

}

.hielo {

}

.normal {
background-color:#918d91;

}

.acero {

}

.bicho {

}

.electrico {
background-color:#f7ff00;

}

.hada {

}

.pokemon-description {
	background-color: #ffffff; 
	margin: 0 1rem 0 1rem;
	padding: .5rem;
	border-radius: 15px;
}	


	
.pokemon-type {
	width:100%;
	text-align:center;

}

.pokemon-name {
	/*margin: 1rem 0 .6rem;*/
	font-size: 1.5rem;
	font-weight: normal;

}

