.fuego {
background-color: #f53a03;
}

.lucha {

}

.veneno{
background-color:#8f169b;


}

.agua {

}

.tierra {

}

.roca {

}

.psiquico {

}

.dragon {
background-color:#420087;

}

.volador {

}

.fantasma {

}

.planta {
background-color:#68fe95;

}

.hielo {

}

.normal {
background-color:#918d91;

}

.acero {

}

.bicho {

}

.electrico {
background-color:#f7ff00;

}

.hada {

}
